<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <!-- Start Navigation -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-success pl-5 fixed-top">
    <a href="/" class="navbar-brand">E Biding</a>

    <div id="myMenu">
      <ul class="navbar-nav pl-5 custom-nav">
        <li class="nav-item" style="margin-top:5px;color: whitesmoke;font-family: cursive;font-size: 20px">Administration Page</li>
      <li style="margin-left: 700px"><img src="{{ data.image.url }}" class="rounded-circle" style="height: 40px"></li>
      <li style="margin-left:10px;margin-top:5px;color: whitesmoke;font-family: cursive;font-size: 20px">{{ data.name }}</li>
      </ul>
    </div>
  </nav> <!-- End Navigation -->
</body>
</html>